<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWet" name="removeDuplicates-list" version="0.2.1">
    <details>
        <title>Remove Duplicates List Operator</title>
        <authors>Alejandro Rodriguez &lt;alex.rodriguez@conwet.com&gt;</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Operator that removes the duplicated items on a list.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>MIT</license>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <wiring>
        <inputendpoint name="input-list" label="Original list" description="Original list" friendcode= "list" type="text" />
        <outputendpoint name="output-list" label="Output list" description="Orignal list with no duplicated items" friendcode= "list" type="text" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
