<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="issue-splitter" version="0.3.2">
    <details>
        <title>Issue Splitter</title>
        <authors>Alejandro Rodriguez &lt;alex.rodriguez@conwet.com&gt;</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Splitter for issues.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>MIT</license>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <wiring>
        <inputendpoint name="issue-list" type="text" label="Issue list" friendcode="normalized-agile-issues issue-list"/>

        <outputendpoint name="status-list" type="text" label="Issue status list" friendcode="normalized-status-list list label-serie"/>
        <outputendpoint name="priority-list" type="text" label="Issue priority list" friendcode="normalized-priority-list list label-serie"/>
        <outputendpoint name="assignee-list" type="text" label="Issue assignee list" friendcode="normalized-assignee-list list label-serie"/>
        <outputendpoint name="type-list" type="text" label="Issue type list" friendcode="normalized-type-list list label-serie"/>
        <outputendpoint name="sprint-list" type="text" label="Issue sprint list" friendcode="normalized-sprint-list list label-serie"/>
        <outputendpoint name="month-list" type="text" label="Issue month list" friendcode="normalized-month-list list label-serie"/>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
