<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="test-report-splitter" version="0.1.9">
    <details>
        <title>&lt;Test Report&gt; Splitter</title>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <description>Splits test report information into several endpoints</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <image>images/catalogue.png</image>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <wiring>
        <inputendpoint name="test-report-list" type="text" label="Test Report List" description="List of Test Reports to split" friendcode="test-report-list"/>
        <outputendpoint name="fail-count-list" type="text" label="Fail Count List" description="List with the number of failed tests" friendcode="fail-count-list list data-serie"/>
        <outputendpoint name="pass-count-list" type="text" label="Pass Count List" description="List with the number of passed tests" friendcode="pass-count-list list data-serie"/>
        <outputendpoint name="skip-count-list" type="text" label="Skip Count List" description="List with the number of skipped tests" friendcode="skip-count-list list data-serie"/>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
