<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWet" name="jira-filter-conditions" version="0.1.10">
    <details>
        <title>Jira filter conditions</title>
         <homepage>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards</homepage>
        <authors>Alejandro Rodriguez</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Sets the filter conditions for Jira issues</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>MIT</license>
        <issuetracker></issuetracker>
    </details>

    <requirements>
        <feature name="StyledElements"/>
    </requirements>
    
    <wiring>
        <inputendpoint name="jira-issues" label="Jira issues" type="text"/>
        <outputendpoint name="filter-conditions" label="Filter conditions" type="text"/>
    </wiring>


    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="300px" width="400px"/>
</widget>
