<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="get-coverage-report-coveralls" version="0.1.8">
    <details>
        <title>Get Coverage Report (Coveralls)</title>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <smartphoneimage></smartphoneimage>
        <description>Gets Coverage Reports from Coveralls.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
        <image>images/catalogue.png</image>
    </details>

    <wiring>
        <inputendpoint name="revision-list" label="Revision List" type="text" description="List of revision numbers  to use for retrieving coverage information" friendcode="revision-list"/>
        <outputendpoint name="coverage-report-list" label="Coverage Report List" type="text" description="Coverage Ratios for the builds received on the Revision List endpoint" friendcode="coverage-report-list data-serie"/>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
