<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="get-file-coverage-coveralls" version="0.1.9">
    <details>
        <title>Get File Coverage (coveralls)</title>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Gets the coverage report of a given file.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <wiring>
        <inputendpoint name="revision-list" label="Revision List" type="text" description="List of revision numbers to use for checking file coverage" friendcode="build-revision-list"/>
        <inputendpoint name="affected-file-matrix" label="Affected File Matrix" type="text" description="Matrix of affected files to use for retrieving the coverage" friendcode="affected-file-matrix"/>
        <outputendpoint name="coverage-report-matrix" label="Coverage Report Matrix" type="text" description="Info about the coverage of the different affected files" friendcode="coverage-report-matrix"/>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
