<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="Conwet" name="jira-harvester" version="0.3.3">
    <details>
        <title>Jira harvester operator</title>
        <homepage>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards</homepage>
        <authors>Alejandro Rodriguez &lt;alex.rodriguez@conwet.com&gt;</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Jira data harvester</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>MIT</license>
        <issuetracker></issuetracker>
    </details>

    
    <preferences>
        <preference name="jira-url" label="Jira server URL" description="Url of the Jira instance" type="text"/>
        <preference name="project-key" label="Jira project key" description="Key of the Jira project to be harvested" type="text"/>
        <preference name="component" label="Jira project component" description="Filter data by component" type="text" default="" />

        <preference name="username" label="Jira username" description="The username to authenticate with on the Jira instance" type="text" default="" />
        <preference name="passwd" label="Jira Password" description="The password to authenticate with on the Jira instance" type="password" default="" />

        <preference name="max" label="Max issues" description="The maximun number of issues to be harvested" type="number" default="100" />
    </preferences>

    <wiring>
        <outputendpoint name="jira-issues" label="⊱Jira Issues" description="List of Jira sprints and their issues" type="text" friendcode="normalized-agile-issues list generic-filter" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
