<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWet" name="packlist" version="0.3.0">
    <details>
        <title>Packlist operator</title>
        <authors>Alejandro Rodriguez &lt;alex.rodriguez@conwet.com&gt;</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Packs items into a list.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>MIT</license>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>
 
    <wiring>
        <inputendpoint name="inputA" label="First input" type="text" friendcode="list" />
        <inputendpoint name="inputB" label="Second input" type="text" friendcode="list" />
        <outputendpoint name="packed-list" label="Packed List" type="text" description="This endpoint provides a list containing both inputs" friendcode="list" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
