<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWet" name="product-backlog-chart" version="0.1.9">
    <details>
        <title>Product backlog chart</title>
        <homepage>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards</homepage>
        <authors>Alejandro Rodriguez &lt;alex.rodriguez@conwet.com&gt;</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Generates the product backlog chart for the Jira porject</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>MIT</license>
        <issuetracker></issuetracker>
    </details>

    <preferences>
        <preference name="title" type="text" label="Chart Title" description="Title used for the chart" default=""/>
    </preferences>

    <wiring>
        <inputendpoint name="jira-issues" label="Jira Issues" type="text" friendcode="jira-issues" />
        <outputendpoint name="chart-options" label="Chart Data Model" description="Chart options" type="text" friendcode="highchart-options" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
