<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="set-generic-filter-conditions" version="0.3.2">
    <details>
        <title>Generic filter conditions</title>
        <authors>Alejandro Rodriguez</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Filter conditions</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>MIT</license>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <requirements>
        <feature name="StyledElements"/>
    </requirements>

    <persistentvariables>
        <variable name="chosenValues" type="text"/>
    </persistentvariables>

    <wiring>
        <inputendpoint name="input" label="Input data" type="text" friendcode="generic-filter"/>
        <outputendpoint name="filter-conditions" label="Filter conditions" type="text" friendcode="condition-list"/>
    </wiring>


    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="300px" width="400px"/>
</widget>