<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="github-harvester" version="0.2.0">
    <details>
        <title>GitHub Harvester</title>
        <homepage>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards</homepage>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Gets Issues from GitHub.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <issuetracker>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <preferences>
        <preference name="oauth2-token" label="OAuth2 Token" type="text" default="2fa2bfc1a356ecd897dfe36dfbcab1adb4a6db9d" />
    </preferences>

    <wiring>
        <outputendpoint name="issue-list" label="⊱Issue List" description="Issues associated to the project" type="text" friendcode="issue-list list generic-filter" />
        <outputendpoint name="commit-list" label="Commit List" description="Commits associated to the project" type="text" friendcode="commit-list list generic-filter" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
