<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="github-harvester" version="0.3.4">
    <details>
        <title>GitHub Harvester</title>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Gets Issues from GitHub.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <preferences>
        <preference name="repo-owner" label="Repository owner username" description="The username of the repository owner" type="text" default="Wirecloud" />
        <preference name="repo-name" label="Repository name" description="Name of the repository" type="text" default="wirecloud" />
        <preference name="max" label="Max" description="How many issues and commtis will be harvested" type="number" default="100" />
        <preference name="oauth2-token" label="OAuth2 Token" description="Oauth2 token. This is the recommended authentication type" type="text" default="" />
        <preference name="username" label="Github login username" description="Username to be used for basic authentication. Not needed if an Oauth2 token is provided" type="text" default="" />
        <preference name="passwd" label="Password" type="password" description="Password to be used for basic authentication. Not needed if an Oauth2 token is provided" default="" />
    </preferences>

    <wiring>
        <outputendpoint name="issue-list" label="⊱Issue List" description="Issues associated to the project" type="text" friendcode="normalized-agile-issues issue-list list generic-filter" />
        <outputendpoint name="commit-list" label="Commit List" description="Commits associated to the project" type="text" friendcode="normalized-agile-commits commit-list list generic-filter" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
