<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="jenkins-harvester" version="0.3.1">
    <details>
        <title>Jenkins Harvester</title>
        <homepage>https://repo.conwet.fi.upm.es/wirecloud/articulo-rafa.git</homepage>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Gets build information from jenkins</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <issuetracker>https://repo.conwet.fi.upm.es/wirecloud/articulo-rafa/issues</issuetracker>
    </details>

    <preferences>
        <preference name="jenkins_server" type="text" label="Jenkins URL" description="URL of the Jenkins instance to use" default="https://build.conwet.fi.upm.es/jenkins/" />
        <preference name="job_id" type="text" label="Job Id" description="Job Id" default="wirecloud-pip-develop-python2.7" />
    </preferences>

    <wiring>
        <outputendpoint name="build-list" type="text" label="⊱Build List" description="Build list. Build information can be splitted using the &lt;Build&gt; Splitter operator" friendcode="build-list list generic-filter"/>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
