<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWet" name="labels-to-dataserie" version="0.2.0">
    <details>
        <title>Labels to dataserie operator</title> 
        <homepage>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards</homepage>
        <authors>Alejandro Rodriguez &lt;alex.rodriguez@conwet.com&gt;</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Transform a label serie to a number serie, counting the amount of times each label is found.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>MIT</license>
        <issuetracker></issuetracker>
    </details>

    <wiring>
        <inputendpoint name="label-list" label="Label List" type="text" friendcode="label-list" />
        <outputendpoint name="data-serie" label="Data serie" type="text" />
        <outputendpoint name="label-serie" label="Reduced label serie" type="text"/>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
