<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="get-coverage-report-jenkins" version="0.1.8">
    <details>
        <title>Get Coverage Report (Jenkins)</title>
        <homepage>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards</homepage>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Gets Coverage Reports from Jenkins.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <issuetracker>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <preferences>
        <preference name="jenkins_server" type="text" label="Jenkins URL" description="URL of the Jenkins instance to use" default="https://build.conwet.fi.upm.es/jenkins/" />
        <preference name="job_id" type="text" label="Job Id" description="Job Id" default="wirecloud-pip-develop-python2.7" />
    </preferences>

    <wiring>
        <inputendpoint name="build-id-list" label="Build Id List" type="text" description="List of build ids to use for retrieving coverage information" friendcode="build-id-list"/>
        <outputendpoint name="coverage-report-list" label="Coverage Report List" type="text" description="Coverage Ratios for the builds received on the Build Id List endpoint" friendcode="coverage-report-list data-serie"/>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
