<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="and-filter" version="0.3.0">
    <details>
        <title>AND Filter</title>
        <homepage>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards</homepage>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Filter lists. Conditions are treated in an AND manner.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <issuetracker>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <wiring>
        <inputendpoint name="original-list" label="Original List" type="text" description="List with the original values" friendcode="list" />
        <inputendpoint name="condition-list" label="Condition List" type="text" description="List of conditions to be fulfilled by the values of the original list to pass the filter" friendcode="condition-list" />
        <outputendpoint name="filtered-list" label="Filtered List" type="text" description="This endpoint provides a list with the values of &quot;Original List&quot; passing the conditions indicated by the &quot;Condition List&quot; endpoint" friendcode="list" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
