<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="list-intersection" version="0.3.0">
    <details>
        <title>List intersection</title>
        <homepage>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards</homepage>
        <authors>Alejandro Rodriguez</authors>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Intersects two list</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <issuetracker>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <wiring>
        <inputendpoint name="list-A" label="Original List A" type="text" description="First list" friendcode="list" />
        <inputendpoint name="list-B" label="Original List B" type="text" description="Second list" friendcode="list" />
        <outputendpoint name="intersected-list" label="Intersected List" type="text" description="This endpoint provides a list with the items of &quot;Original List A&quot; that match the ones of &quot;Original List B&quot;" friendcode="list" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
