<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="column-chart-generator" version="0.3.2">
    <details>
        <title>Column chart generator</title>
        <authors>Alejandro Rodriguez &lt;alex.rodriguez@conwet.com&gt;</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Generates column chart data model for the highcharts widget</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>MIT</license>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <preferences>
        <preference name="title" type="text" label="Chart Title" description="Title used for the chart" default=""/>
    </preferences>

    <wiring>
        <inputendpoint name="data-serie" label="Data serie"  type="text" friendcode="number-serie" />
        <inputendpoint name="label-list" label="Label list" description="The label for each of the columns" type="text" friendcode="label-serie" />

        <outputendpoint name="chart-options" label="Chart Data Model" description="Chart options" type="text" friendcode="highchart-options" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
