<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="sprint-release-selector" version="0.1.6">
    <details>
        <title>Sprint/Release Selector</title>
        <homepage>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards</homepage>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <image>images/catalogue.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Allows to select a project, release and sprints.</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <issuetracker>https://repo.conwet.fi.upm.es/wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <requirements>
        <feature name="StyledElements"/>
    </requirements>

    <wiring>
        <outputendpoint name="build-filter-list" label="Build Filter" type="text" friendcode="build-filter-list" />
        <outputendpoint name="issue-filter" label="Issue Filter" type="text" friendcode="issue-filter" />
    </wiring>

    <contents src="index.html" useplatformstyle="true"/>
    <rendering height="300px" width="200px"/>

</widget>
