<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="jenkins-project-build-list" version="0.1.8">
    <details>
        <title>Jenkins Project Build List</title>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <image>images/catalogue.png</image>
        <description>Gets access to the project build list from Jenkins</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <requirements>
        <feature name="StyledElements"/>
    </requirements>

    <wiring>
        <inputendpoint name="build-list" type="text" label="Build List" description="List of builds to display inside the widget" friendcode="build-list"/>
        <outputendpoint name="condition-list" type="text" label="Selected Build Filter" description="Conditions for filtering a build list using the selected build id (e.g. by connecting this endpoint to the Condition List endpoint of the AND Filter operator)" friendcode="condition-list"/>
    </wiring>

    <contents src="index.html" useplatformstyle="true" />
    <rendering height="300px" width="300px"/>

</widget>
