<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="open-item-webpage" version="0.3.1">
    <details>
        <title>Open item webpage</title>
        <authors>Alejandro Rodriguez &lt;alex.rodriguez@conwet.com&gt;</authors>
        <email>alex.rodriguez@conwet.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Opens the item webpage on the browser</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>MIT</license>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <preferences>
        <preference name="max" label="Maximum tabs" description="The maximum number of tabs to be opened. 0 is none, and any negative number means unlimited tabs" type="number" default="1" />
        <preference name="block" label="Block previous links" description="Allow the last links to be opened again. This is useful to stop a operator that sends the same data multiple times from flooding the browser with tabs" type="boolean" default="true"/>
    </preferences>

    <wiring>
        <inputendpoint name="item" type="text" label="Item" description="The item whose webpage is to be fetched"/>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
