<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="build-splitter" version="0.1.10">
    <details>
        <title>&lt;Build&gt; Splitter</title>
        <authors>Álvaro Arranz</authors>
        <email>aarranz@fi.upm.es</email>
        <description>Splits build information into several endpoints</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <image>images/catalogue.png</image>
        <homepage>https://github.com/Wirecloud/agile-dashboards</homepage>
        <issuetracker>https://github.com/Wirecloud/agile-dashboards/issues</issuetracker>
    </details>

    <wiring>
        <inputendpoint name="build-list" type="text" label="Build List" description="Build List" friendcode="build-list"/>
        <outputendpoint name="build-id-list" type="text" label="Build Id List" description="List with the id of the builds" friendcode="build-id-list list"/>
        <outputendpoint name="duration-list" type="text" label="Duration List" description="List with the duration of the builds" friendcode="build-duration-list list data-serie"/>
        <outputendpoint name="changes-list" type="text" label="⊱Changes List" description="List with the changes made in the builds. Change information can be splitted using the &lt;Changes&gt; Splitter operator" friendcode="changes-list list"/>
        <outputendpoint name="cause-list" type="text" label="Cause List" description="List with the causes for launching the builds" friendcode="build-cause-list list"/>
        <outputendpoint name="revision-list" type="text" label="Revision List" description="List with the revision number of the last commit included in the builds" friendcode="build-revision-list list"/>
        <outputendpoint name="test-report-list" type="text" label="⊱Test Report List" description="List with the test reports of the builds. Test report information can be splitted using the &lt;Test Report&gt; Splitter operator" friendcode="test-report-list list"/>
        <outputendpoint name="timestamp-list" type="text" label="Timestamp List" description="List with the timestamp when the builds were launched" friendcode="timestamp-list list"/>
        <outputendpoint name="month-list" type="text" label="Month List" description="List with the month when the builds were launched" friendcode="month-list list"/>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
